<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="./css/reveal.css" />
        <link rel="stylesheet" href="./css/theme/default.css" />
        <link rel="stylesheet" href="./css/theme/highlightjs.css">
        <style>
            .jungle-text {
                -webkit-transform: scale(10) rotateZ(0deg);
                opacity: 0;
                display: none;
                color: red !important;
            }
            .jungle-text-show {
                -webkit-transform: scale(1) rotateZ(40deg);
                display: block;
                opacity: 1
            }
        </style>
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section>
                    <h1 style="text-align: left;">Single-Page Applications</h1>
                    <p style="margin-bottom: 80px;">
                        <ul style="float: left;">
                            <li><a href="http://blog.mgechev.com/">Minko Gechev</a></li>
                            <li><a href="http://github.com/mgechev">github.com/mgechev</a></li>
                            <li><a href="http://twitter.com/mgechev">twitter.com/mgechev</a></li>
                        </ul>
                    </p>
                </section>
                <section>
                    <h2>Content</h2>
                    <ul>
                        <li>SPA?</li>
                        <li>Architecture</li>
                        <li>Life-cycle</li>
                        <li>Packaging and organisation</li>
                        <li>Introduction to AngularJS</li>
                        <li>Deployment</li>
                    </ul>
                </section>
                <section>
                    <h2>SPA</h2>
                    <div class="spa-container">
                        <svg xmlns="http://www.w3.org/2000/svg" height="600" width="600" xmlns:xlink= "http://www.w3.org/1999/xlink">
                            <image xlink:href="./images/spa.jpg" width="600" height="600" x="0" y="0" z-index="1" />
                            <path id="s1" d="M 0 0 600 600 " stroke-width="14" fill="none" stroke="red" z-index="200" style="visibility: hidden;" />
                            <path id="s2" d="M 600 0 0 600 " stroke-width="14" fill="none" stroke="red" z-index="200" style="visibility: hidden;" />
                        </svg>
                    </div>
                    <script>
                        (function () {
                            function animateStroke(path, duration) {
                                path.style.visibility = 'visible';
                                var length = path.getTotalLength();
                                path.style.transition = path.style.WebkitTransition =
                                  'none';
                                path.style.strokeDasharray = length + ' ' + length;
                                path.style.strokeDashoffset = length;
                                path.getBoundingClientRect();
                                path.style.transition = path.style.WebkitTransition =
                                  'stroke-dashoffset ' + duration + 's ease-in-out';
                                path.style.strokeDashoffset = '0';
                            }
                            document.querySelector('.spa-container').onclick = function () {
                                animateStroke(document.querySelector('#s1'), 1);
                                setTimeout(function () {
                                    animateStroke(document.querySelector('#s2'), 1);
                                }, 1000);
                            };
                        }());
                    </script>
                </section>
                <section>
                    <h2>SPA</h2>
                    <img src="./images/spa-real.jpg" width="600" alt="" />
                </section>
                <section>
                    <section data-background="images/jungle.jpg">
                        <h3 id="mvc-headline">MV* frameworks</h3>
                        <h1 class="jungle-text">Welcome to the jungle!</h1>
                        <script>
                            document.getElementById('mvc-headline').onclick = function () {
                                document.getElementsByClassName('jungle-text')[0].classList.add('jungle-text-show');
                            };
                        </script>
                    </section>
                    <section>
                        <h2>MV* frameworks</h2>
                        <ul>
                            <li class="fragment">CanJS</li>
                            <li class="fragment" style="color: #E8D500">Maria</li>
                            <li class="fragment">Polymer</li>
                            <li class="fragment">cujoJS</li>
                            <li class="fragment">dermis</li>
                            <li class="fragment">Montage</li>
                            <li class="fragment">Sammy.js</li>
                            <li class="fragment">Strapes</li>
                            <li class="fragment">Epitome</li>
                            <li class="fragment" style="color: #E8D500">Ext.js</li>
                        </ul>
                        <ul>
                            <li class="fragment" style="color: #E88700">AngularJS</li>
                            <li class="fragment" style="color: #E88700">Ember.js</li>
                            <li class="fragment" style="color: #E8D500">KnockoutJS</li>
                            <li class="fragment">Dojo</li>
                            <li class="fragment" style="color: #E8D500">YUI</li>
                            <li class="fragment">Agility.js</li>
                            <li class="fragment">soma.js</li>
                            <li class="fragment">DUEL</li>
                            <li class="fragment" style="color: #E8D500">Kendo UI</li>
                            <li class="fragment">PureMVC</li>
                        </ul>
                        
                        <ul>
                            <li class="fragment" style="color: #E88700">Backbone.js</li>
                            <li class="fragment">Knockback.js</li>
                            <li class="fragment">Olives</li>
                            <li class="fragment">PlastronJS</li>
                            <li class="fragment">Dijon</li>
                            <li class="fragment">rAppid.js</li>
                            <li class="fragment">Funnyface.js</li>
                            <li class="fragment">Aria Templates</li>
                            <li class="fragment" style="color: #E8D500">React</li>
                            <li class="fragment">SAPTUI5</li>
                        </ul>
                    </section>
                    <section>
                        <h2>and wait for it...</h2>
                        <ul>
                            <li class="fragment" data-fragment-index="1">Aura.js</li>
                            <li class="fragment" data-fragment-index="2">ScaleApp</li>
                            <li class="fragment" data-fragment-index="3">Kernel.js</li>
                            <li class="fragment" data-fragment-index="4">Hydra.js</li>
                            <li class="fragment" data-fragment-index="5">Terrifically</li>
                        </ul>
                    </section>
                    <section>
                        <h2>ONLY AngularJS</h2>
                        <h3 class="fragment">...and a bit Backbone.js</h3>
                    </section>
                </section>
                <section>
                    <h2>Conceptual overview</h2>
                    <img src="./images/communication-spa.png" alt="" />
                </section>
                <section>
                    <h2>DOM</h2>
                    <ul>
                        <li>Generated from the templates</li>
                        <li>Emit events (different handlers)</li>
                        <li>
                            Write-only!
                            <ul>
                                <li>performance</li>
                                <li>consistency</li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <section>
                    <section>
                        <h2>Model</h2>
                        <ul>
                            <li>Holds the data in-memory</li>
                            <li>
                                Responsible for storing and fetching itself
                                <ul>
                                    <li>
                                        Additional "services"
                                        <ul>
                                            <li>Repository</li>
                                            <li>Gateway/Data mapper</li>
                                        </ul> 
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <h2>AngularJS</h2>
                        <pre>
                            <code class="javascript">
    function PhoneListCtrl($scope, PhonesCollection) {
        $scope.phones = PhonesCollection.getPhones(); //Synchronous, resolve...
        $scope.removeClicked = function (phone) {
            $scope.phones.splice($scope.phones.indexOf(phone), 1);
            PhonesCollection.setPhones($scope.phones);
        };
    }
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Repository</h2>
                        <blockquote cite="http://martinfowler.com/eaaCatalog/repository.html">
    Mediates between the domain and data mapping layers using a collection-like interface for accessing domain objects.
                        </blockquote>
                    </section>
                </section>
                <section>
                    <section>
                        <h2>Views</h2>
                        <img src="images/gmail.png" alt="" />
                    </section>
                    <section>
                        <h2>Views</h2>
                        <ul>
                            <li>Rendered from templates</li>
                            <li>Affect on the models</li>
                            <li>Multiple views depending on the same model (events)</li>
                        </ul>
                    </section>
                </section>
                <section>
                    <section>
                        <h2>Templates</h2>
                        <pre>
                            <code class="html">
<ul>
    {{#phones}}
        <li>{{phone}}</li>
    {{/phones}}
</ul>
                            </code>
                        </pre>
                    </section>
                    <section>
                        <h2>Templates</h2>
                        <ul>
                            <li>Save us from complex concatenations</li>
                            <li>Build DOM by given model and rules</li>
                            <li>Efficiency</li>
                        </ul>
                    </section>
                    <section>
                        <h2>AngularJS</h2>
                        <pre>
                            <code>
<div ng-controller="PhonesListCtrl">
    <ul>
        <li ng-repeat="phone in phones">{{phone.name}}</li>
    </ul>
</div>
                            </code>
                        </pre>
                    </section>
                </section>
                <section>
                    <h1>Controllers must die?</h1>
                </section>
                <section>
                    <h2>Controllers responsibilities</h2>
                    <blockquote cite="http://spinejs.com/docs/controllers">
Controllers deal with adding and responding to DOM events, rendering templates and keeping views and models in sync
                    </blockquote>
                </section>
                <section>
                    <h2>Isn't that too much?</h2>
                    <blockquote>
In object-oriented programming, the single responsibility principle states that every class should have a single responsibility, and that responsibility should be entirely encapsulated by the class. All its services should be narrowly aligned with that responsibility.
                    </blockquote>
                </section>
                <section>
                    <h2>Why not...</h2>
                    <ul>
                        <li>View refers to it's template and is being rendered by a template engine</li>
                        <li>Model triggers events on change, the view captures these events and update itself</li>
                    </ul>
                </section>
                <section>
                    <h2>How is in AngularJS</h2>
                    <ul>
                        <li>We have controllers!</li>
                        <li>They glue the view and the model</li>
                        <li>They look a bit like the code-behinds<br />in ASP.NET WebForms</li>
                    </ul>
                </section>
                <section>
                    <h3>How to make it maintainable?</h3>
                    <h2 class="fragment">Modularity!</h3>
                    <h3 class="fragment">...but everything should have its limits</h3>
                </section>
                <section>
                    <h2>Why modularity?</h2>
                    <ul>
                        <li class="fragment">Independent modules with strongly defined interface</li>
                        <li class="fragment">Abstraction</li>
                        <li class="fragment">Each module should do ONE thing</li>
                    </ul>
                </section>
                <section>
                    <h3>Okay we can achieve SOLID?</h3>
                    <h3 class="fragment">...but what about GRASP?</h3>
                    <ul>
                        <li class="fragment">Strongly coupled modules sucks!</li>
                    </ul>
                </section>
                <section>
                    <h3>So we need mediator?</h3>
                    <h2 class="fragment">Publish/subscribe</h2>
                    <ul class="fragment">
                        <li>In may be more than 90% of the frameworks above!</li>
                        <li>And yes, AngularJS is in these 90%</li>
                    </ul>
                </section>
                <section>
                    <h2>AngularJS</h2>
                    <pre>
                        <code class="javascript">
    function ParentCtrl($scope) {
        $scope.parentMethod = function () {
            /* body */
        };
        $scope.$on('event-name', function (event, param) {
            /* body */
        });
    }

    function ChildCtrl($scope) {
        $scope.childMethod = function () {
            /* body */
        };
        $scope.parentMethod();
        $scope.$emit('event-name', { /* parameter */});
    }
                        </code>
                    </pre>
                </section>
                <section>
                    <h2>Publish/subscribe is awesome!!!?</h2>
                    <h3 class="fragment">...well...</h3>
                    <ul class="fragment" style="color: #FF0055;">
                        <li>Event collisions</li>
                        <li>Complexity</li>
                        <li>Hard for unit-testing</li>
                        <li>Hard for manage events</li>
                    </ul>
                </section>
                <section>
                    <h2>Sample implementation</h2>
                    <pre>
                        <code class="javascript">
    var pubsub = {};
    (function(q) {
        var topics = {};
        q.publish = function (topic, args) {
            if (!topics[topic]) {
                return false;
            }
            var subscribers = topics[topic],
                len = subscribers ? subscribers.length : 0;
            while (len--) {
                subscribers[len].call(null, topic, args);
            }
            return this;
        };
        q.subscribe = function (topic, func) {
            if (!topics[topic]) {
                topics[topic] = [];
            }
            topics[topic].push(func);
            return this;
        };
    }(pubsub));
                        </code>
                    </pre>
                </section>
                <section>
                    <h2>Code organisation</h2>
                    <ul style="font-size: 25px; line-height: 30px;">
                        <li>
                        js
                            <ul>
                                <li>
                                    controllers
                                    <ul>
                                        <li>home
                                            <ul>
                                                <li>MainCtrl.js</li>
                                                <li>FormCtrl.js</li>
                                            </ul> 
                                        </li>
                                        <li>contacts</li>
                                    </ul>
                                </li>
                                <li>directives</li>
                                <li>filters</li>
                                <li>animations</li>
                                <li>animations</li>
                            </ul>
                        </li>
                        <li>
                        partials
                            <ul>
                                <li>
                                home
                                    <ul>
                                        <li>master.html</li> 
                                        <li>sidebar.html</li> 
                                    </ul>
                                </li>
                                <li>
                                    contacts
                                    <ul>
                                        <li>master.html</li> 
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <section>
                    <h2>How AngularJS helps?</h2>
                    <ul class="fragment">
                        <li>A lot of boilerplates</li>
                        <li>Efficiency</li>
                    </ul>
                </section>
                <section>
                    <h1>Introduction to AngularJS</h1>
                </section>
                <section>
                    <h2>AngularJS' building blocks</h2>
                    <ul>
                        <li class="fragment">Partials</li>
                        <li class="fragment">Controllers</li>
                        <li class="fragment">Directives</li>
                        <li class="fragment">Services</li>
                    </ul>
                </section>
                <section>
                    <h2>Partials</h2>
                    We already know about them...
                    <pre>
                        <code>

&lt;html ng-app&gt;
 &lt;!-- Body tag augmented with ngController directive  --&gt;
 &lt;body ng-controller=&quot;MyController&quot;&gt;
   &lt;input ng-model=&quot;foo&quot; value=&quot;bar&quot;&gt;
   &lt;!-- Button tag with ng-click directive, and
          string expression 'buttonText'
          wrapped in &quot;{{ }}&quot; markup --&gt;
   &lt;button ng-click=&quot;changeFoo()&quot;&gt;{{buttonText}}&lt;/button&gt;
   &lt;script src=&quot;angular.js&quot;&gt;
 &lt;/body&gt;
&lt;/html&gt;
                        </code>
                    </pre>
                </section>
                <section>
                    <h2>Partials building blocks</h2>
                    <ul>
                        <li class="fragment">HTML</li>
                        <li class="fragment">Directives</li>
                        <li class="fragment">Filters</li>
                    </ul>
                </section>
                <section>
                    <h2>Partials</h2>
                    <ul>
                        <li class="fragment">Custom tags and attributes?! - <strong>data</strong> prefix</li>
                        <li class="fragment">The HTML is your template!</li>
                    </ul>
                    <br />
                    <br />
                    <br />
                    <p class="fragment">
                    No more:
                    </p>
                    <pre class="fragment">
                        <code class="html">
<script id ="getting-started-1" type="text/x-handlebars-template">
<!-- Template here -->
</script>
                        </code>
                    </pre>
                </section>
                <section>
                    <h2>Controllers</h2>
                    <blockquote cite="">
In Angular, a controller is a JavaScript function(type/class) that is used to augment instances of angular Scope, excluding the root scope.
                    </blockquote>
                    <ul>
                        <li class="fragment">Set up the initial state of a scope object.</li>
                        <li class="fragment">Add behavior to the scope object.</li>
                    </ul>
                </section>
                <section>
                    <h2>Simple example</h2>
                    <pre>
                        <code class="html">
&lt;div ng-controller="MainCtrl"&gt;
    &lt;button ng-click="foo()">Cick me!&lt;/button&gt;
&lt;/div&gt;
                        </code>
                    </pre>
                    <pre>
                        <code class="javascript">
function MainCtrl($scope) {
    $scope.foo = function () {
        alert('bar');
    };
}
                        </code>
                    </pre>
                </section>
                <section>
                    <h2>What we have?</h2>
                    <ul>
                        <li class="fragment">Dependency injection</li>
                        <li class="fragment">Abstraction</li>
                        <li class="fragment"><a href="https://github.com/mgechev/angular-aop" target="_blank">*AOP</a></li>
                    </ul>
                </section>
                <section>
                    <h2>But what is scope?</h2>
                    <ul>
                        <li class="fragment">A simple JavaScript object</li>
                        <li class="fragment">Refers to the model</li>
                        <li class="fragment">Watch expressions</li>
                        <li class="fragment">Propagate events</li>
                        <li class="fragment">Prototypically inherits it's parent</li>
                    </ul>
                </section>
                <section>
                    <pre>
                        <code class="html">
&lt;div ng-controller="ParentCtrl"&gt;
    &lt;div ng-controller="ChildCtrl"&gt;
    &lt;/div&gt;
&lt;/div&gt;
                        </code>
                    </pre>
                    <pre>
                        <code class="javascript">
function ParentCtrl($scope) {
    $scope.foo = function () {
        console.log('foo');
    };
    console.log($scope.baz); //undefined
}

function ChildCtrl($scope) {
    $scope.baz = 'baz';
    $scope.foo();           //'foo'
}
                        </code>

                    </pre>
                </section>
                <section>
                    <h2>Directives</h2>
                    <ul>
                        <li class="fragment">Developing DNS over the HTML</li>
                        <li class="fragment">Teaching the HTML to new tricks</li>
                    </ul>
                </section>
                <section>
                    <h2>Directives example</h2>
                    <pre>
                        <code class="html">
&lt;blink&gt;I know you all miss me!&lt;/blink&gt;
&lt;dialog title=&quot;Awesome!&quot;&gt;
    &lt;rating max=&quot;5&quot; min=&quot;1&quot; type=&quot;stars&quot; /&gt;
&lt;/dialog&gt;
                        </code>
                    </pre>
                    <div class="fragment">
                        What about the standards?
                    </div>
                </section>
                <section>
                    <h2>Directives</h2>
                    <div>Directives can be found using tag name, attribute name, class name even a comment...or a combination.</div>
                    <pre class="fragment">
                        <code class="javascript">
myModule.directive('directiveName', function factory(injectables) {
  var directiveDefinitionObject = {
    priority: 0,
    template: 'HTML with other directives and filters...',
    templateUrl: 'directive.html',
    replace: false,
    transclude: false,
    restrict: 'A',  //Possible values E, A, C, M or any combination
    scope: false,
    controller: ["$scope", "$element", "$attrs", "$transclude", "otherInjectables",
      function($scope, $element, $attrs, $transclude, otherInjectables) { ... }],
    compile: function compile(tElement, tAttrs, transclude) {
      return {
        pre: function preLink(scope, iElement, iAttrs, controller) { ... },
        post: function postLink(scope, iElement, iAttrs, controller) { ... }
      }
    },
    link: function postLink(scope, iElement, iAttrs) { ... }
  };
  return directiveDefinitionObject;
});
                        </code>
                    </pre>
                </section>
                <section>
                    <h3>Isn't that API very complex?</h3>
                    <h1 class="fragment">Yes, it is!</h1>
                    <div class="fragment">The usual case:
                        <pre>
                            <code class="javascript">
myModule.directive('directiveName', function factory(injectables) {
  return function postLink(scope, iElement, iAttrs) { ... }
});
                            </code>
                        </pre>
                    </div>
                </section>
                <section>
                    <h2>Services</h2>
                    <ul>
                        <li class="fragment">
                        Singletons that carry out specific tasks common to web apps.
                        </li>
                        <li class="fragment">
                        They can be easily combined with the already mentioned dependency injection.
                        </li>
                    </ul>
                </section>
                <section>
                </section>
            </div>
        </div>
        <script src="./js/reveal.js"></script>
        <script src="./js/highlightjs.js"></script>
        <script>
            Reveal.initialize({ history: true });
            hljs.initHighlightingOnLoad();
        </script>
    </body>
</html>
