/* line 3, ../sass/main.sass */
.fade-in {
  -webkit-transition: -webkit-transform, 0.5s;
  -moz-transition: -moz-transform, 0.5s;
  -o-transition: -o-transform, 0.5s;
  transition: transform, 0.5s;
  -webkit-transform: rotate(90deg) scale(0);
  -moz-transform: rotate(90deg) scale(0);
  -ms-transform: rotate(90deg) scale(0);
  -o-transform: rotate(90deg) scale(0);
  transform: rotate(90deg) scale(0);
  position: absolute;
}

/* line 8, ../sass/main.sass */
.fade-in-active {
  -webkit-transform: rotate(0deg) scale(1);
  -moz-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  -o-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
}

/* line 11, ../sass/main.sass */
.fade-out {
  -webkit-transition: -webkit-transform, 0.5s;
  -moz-transition: -moz-transform, 0.5s;
  -o-transition: -o-transform, 0.5s;
  transition: transform, 0.5s;
  -webkit-transform: rotate(0deg) scale(1);
  -moz-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  -o-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  position: absolute;
}

/* line 16, ../sass/main.sass */
.fade-out-active {
  -webkit-transform: rotate(90deg) scale(0);
  -moz-transform: rotate(90deg) scale(0);
  -ms-transform: rotate(90deg) scale(0);
  -o-transform: rotate(90deg) scale(0);
  transform: rotate(90deg) scale(0);
}
